<div class="navbar navbar-inverse navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">stock-exchange</a>
      <form class="navbar-search pull-left main-search">
        <input type="text" class="search-query" placeholder="enter symbol" ng-model="stockSymbol" ng-enter="getStock()">
      </form>
      <ul class="nav navbar-nav list-inline">
        <div class='inline' ng-repeat="stock in stocks">
          <li>{{stock._id}}<span ng-click="removeStock(stock._id)"><i class="fa fa-times"></i></span></li>
        </div>
      </ul>
    </div>
  </div>
</div>
