.inline {
	display: inline-block;
	margin: 10px 0;
}

.inline > li {
	width: 100px;
	margin: 0 5px;
	padding: 5px 10px;
	border: 1px solid grey;
	border-radius: 20px;
	color: white;
}

.inline > li > span {
    cursor: pointer;
    float: right;
    color: grey;
}